* {
    box-sizing: border-box;
}

html {
    font-family: Ubuntu, sans-serif;
}

menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.822);
    z-index: 2;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
}

#sm-container {
    display: flex;
    /* gap: column-gap row-gap; */
    column-gap: 5px;
}

#sm-container li {
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

#sm-container li:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

ion-icon[name="logo-facebook"]{
    color: rgb(0, 81, 173);
}

ion-icon[name="logo-twitter"]{
    color: rgb(0, 153, 255);
}

ion-icon[name="logo-youtube"]{
    color: rgb(255, 0, 0);
}

ion-icon[name="logo-linkedin"]{
    color: rgb(4, 0, 255);
}

ion-icon[name="logo-instagram"]{
    color: rgb(149, 0, 248);
}

@media all and (max-width: 1023px) {
    header {
        position: relative;
    }

    header > .container {
        flex-direction: column;
        padding-bottom: 5px;
    }
}

/* Navigation */

#main-nav {
    width: 200px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    position: fixed;
    top: 51px;
    bottom: 0;
    z-index: 2;
}

#main-nav > menu menu {
    min-width: 250px;
}

#main-nav li{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

#main-nav li:hover{
    cursor: pointer;
    background-color: lightgray;
}

#main-nav li.drop-down {
    position: relative;
}

#main-nav li.drop-down:hover menu {
    display: block;
}

#main-nav li.drop-down > menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    left: 100%;
    top: 0;
    box-shadow: 6px 5px 10px 0px #0000006b;
}

@media all and (min-width: 1024px) {

    #main-nav li.drop-down::after {
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 8px solid transparent;
        border-left: 8px solid red;
        border-bottom: 8px solid transparent;
    }

    #main-nav li.drop-down:hover::after{
        border-left-color: black;
    }

}

@media all and (max-width: 1023px) {
    #main-nav {
        position: static;
        border: unset;
        text-align: center;
        width: 100%;
    }

    #main-nav li.drop-down {
        padding: 10px 0;
    }

    #main-nav li.drop-down > menu {
        position: relative;
        left: 0;
        top: 10px;
        box-shadow: unset;
        border: unset;
    }

    #main-nav li.drop-down::after {
        content: "";
        display: inline-block;
        position: relative;
        left: 10px;
        border-top: 8px solid red;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }

    #main-nav li.drop-down:hover::after{
        display: none;
    }    
}

/* Main */

main {
    margin-left: 200px;
    border-right: 1px solid lightgray;
}

#slider {
    background-color: yellow;
    height: 450px;
    overflow-x: hidden;
}

#slides-wrapper {
    position: relative;
    width: 400%;            /*  Relative to slider's width */
    height: 100%;
    animation-name: slide-anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes slide-anim {
    from, to {
        left: 0;
    }

    20%, 25%{
        left: -100%;
    }

    45%, 50%{
        left: -200%;
    }

    70%, 75%{
        left: -300%;
    }
}

#slider .slide {
    float: left;
    width: calc(100% / 4);  /* Relative to slides-wrapper's width */
    height: 100%;
    background-position: center;
    background-size: cover;
}

#slide-1 {
    background-image: url(../img/1.jpg);
}

#slide-2 {
    background-image: url(../img/2.jpg);
}

#slide-3 {
    background-image: url(../img/3.jpg);
}

#slide-4 {
    background-image: url(../img/4.jpg);
}

@media all and (max-width: 1023px) {
    main {
        margin-left: unset;
        border:unset;
    }
}

@media all and (max-width: 575px) {
    #slider {
        display: none;
    }
}

#main-content {
    display: flex;
    text-align: center;
    align-items: center;
}

#main-content > div:first-child {
    padding: 5px 50px;
}

#main-content > div:last-child img {
    border-radius: 15px;
    box-shadow: 0 0 8px 1px #ff1b1b;
}

@media all and (max-width: 1023px) {
    #main-content > div:last-child {
        display: none;
    }
}

/* Footer */

footer {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid lightgray;
}